{% extends "base.html" %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    BratzSoft Powered by Django Apps
                </h1>
                <h2 class="splash-subhead">
                    A New Platform to run businesses
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Soon More Info!</h4>
            <h3>Come Back for more Info</h3>
            <p>
                BratzSoft is now online!
            </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="https://placehold.it/400x250"
                 alt="BratzSoft is now online!">
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="https://placehold.it/400x250"
                 alt="BratzSoft is now online!">
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Soon More Info!</h4>
            <h3>BratzSoft is now online!</h3>
            <p>
                BratzSoft is now online!
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Exercícios</h4>
            <h3>Come Back for more Info!</h3>
            <p>
                BratzSoft is now online!
            </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="https://placehold.it/400x250"
                 alt="BratzSoft is now online!">
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="https://placehold.it/400x250"
                 alt="BratzSoft is now online!">
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Messages</h4>
            <h3>Warning and Messages</h3>
            <p>
                BratzSoft is now Online.
            </p>
        </div>
    </div>
</div>
{% endblock %}
