{% extends "base.html" %}

{% block content %}
<br>
<div id="customerGrid">
    <div id="grid1"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read:{
                           url: "/api/customers/",
                           contentType: 'application/json; charset=utf-8',
                           type: 'GET',
                           dataType: "json"
                        }
                    },
                    schema: {
                      model: {
                        fields: {
                          name: { type: "string" },
                          email: { type: "string" },
                          description: { type: "string" }

                        }
                      }
                    },

                },
                height: 550,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                    {
                        field: "name",
                        title: "Name",

                    }, {
                        field: "email",
                        title: "E-Mail"
                    }, {
                        field: "description",
                        title: "Description"
                    }
                ]
            });
        });
    </script>
</div>
<br>

<div id="abapUsersGrid">
    <div id="grid2"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read:{
                           url: "/api/abapusers/",
                           contentType: 'application/json; charset=utf-8',
                           type: 'GET',
                           dataType: "json"
                        }
                    },
                    schema: {
                      model: {
                        fields: {
                          username: { type: "string" },
                          client: { type: "string" },


                        }
                      }
                    },

                },
                height: 550,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                    {
                        field: "username",
                        title: "UserName",

                    }, {
                        field: "client",
                        title: "Client"
                    }
                ]
            });
        });
    </script>
</div>

<div id="notesGrid">
    <div id="grid"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read:{
                           url: "/api/notes/",
                           contentType: 'application/json; charset=utf-8',
                           type: 'GET',
                           dataType: "json"
                        }
                    },
                    schema: {
                      model: {
                        fields: {
                          number: { type: "integer" },
                          version: { type: "integer" },
                          title: { type: "string" }

                        }
                      }
                    },

                },
                height: 550,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                    {
                        field: "number",
                        title: "Number",

                    }, {
                        field: "version",
                        title: "Version"
                    }, {
                        field: "title",
                        title: "Title"
                    }
                ]
            });
        });
    </script>
</div>
{% endblock %}
